body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container {
    width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-tab.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-desk.jpg);
    }
}

/* ------ HEADER ------ */

.header-container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto ;
    display: flex; 
    align-items: center;
}

.header {
    padding: 24px 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo-color {
    color: #2e2f42;
}

.header-menu-list{
    display: flex;
    gap: 40px;
    color:#2e2f42;
}

.header-menu-item {

}

.header-contacts-list {
    font-style: normal;
    margin-left: auto;
}

.header-contacts {
    gap: 40px;
}


.header-menu-link {
    position: relative;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #2e2f42;
    
}

.current {
    color: #404bbf;
}

.header-menu-link.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    background-color: #404bbf;
    width: 100%;
    border-radius: 2px;

}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.header-contacts-link {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #404bbf;
}

.header-contacts{
    display: flex;
}

/* ------ HERO ------ */

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mob.jpg);
    background-size: cover;
    padding: 188px 0;
    background-repeat: no-repeat;
    background-position: center;
    /* max-width: 1440px;
    width: 100%;
    height: 100%; */
    margin: 0 auto;
}

.hero-container {
}


.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-primary-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    padding: 16px 40px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-primary-button:hover,
.hero-primary-button:focus {
    background-color: #404bbf;
}



/* ------ FEATURES ------ */

.features {
    padding: 120px 0;
}

.features-container {

}

.features-list {
    display: flex;
    gap: 24px;
}

.features-items {
    width: calc((100% - 72px) / 4)
    
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.features-subtitles {
    margin-bottom: 8px;
}

.features-item-text {

}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    padding: 156px, 120px, 156px, 120px;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.section-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-paragraf{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background: #f4f4fd;
    padding: 120px 0;
}

.team-container {
}

.team-title {
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    border: none;
    width: calc((100% - 3 * 24px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name {
    padding: 30px 0;
    text-align: center;
    padding: 32px 0 32px;
}

.team-subtitle {
    margin-bottom: 8px;
}

.team-item-text {
    margin-bottom: 8px;
}

.team-image {
    
}

.social-list-icon {
    fill: #f4f4fd;
    stroke: #FFFFFF;

}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 0;
}
  
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    color: white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-link:hover,
.social-list-link:focus{
    background-color: #404bbf;
}

.portfolio {
    padding: 120px 0;
}

.portfolio-container {

}

.portfolio-title {
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}


.app-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-image {
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-subtitle {
    margin-bottom: 8px;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img-wraper {
    position: relative;
    overflow: hidden;
}

.portfolio-img-wraper:hover .portfolio-overlay {
    transform: translateY(0%);
}

.portfolio-img-wraper:hover .portfolio-overlay-text {
    transform: translateY(0%);
}

.portfolio-item-text {
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.logo-paragraf {
    margin-right: 120px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    max-width: 264px;
}

.social-icons {
    margin-right: 80px;
}

.social-media-text {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-list-item {
    width: 40px;
    height: 40px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 0;
}

.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    color: white;
    margin-top: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus{
    background-color: #31d0aa;
}

.subscribe-container {
}

.subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.form-label {
    display: flex;
}

.input-email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.input-email::placeholder {
    color: #ffffff;
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404bbf;
}

.subscribe-icon {
    margin-left: 16px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: absolute;
    width: 408px;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 584px; 
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    stroke: #2e2f42;
    line-height: 0;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
    fill: #FFFFFF;
    stroke: #FFFFFF;
    background-color: #404bbf;
    border: none;
}

.modal-slogan {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 360px;
    margin-bottom: 16px;
    color: #2E2F42;
}

.review-form-field-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.review-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #2E2F42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    stroke: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.review-form-input-wrapper {
    position: relative;
    
}

.review-form-input:focus {
    outline: none;
    border-color: #4D5AE5;
}

.review-form-input:focus + .review-form-icon {
    fill: #4D5AE5;  
    stroke: #4D5AE5;
}

.review-form-comment-wrapper{
    margin-bottom: 16px;
}

.review-form-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.review-form-comment::placeholder {
    color: #8e8f99;
}

.review-form-comment:focus {
    outline: none;
    border-color: #4D5AE5;
}

.review-form-custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill:transparent; 
    margin-right: 8px;
    outline: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment-wrapper{
    margin-bottom: 16px;
}

.review-form-checkbox:checked + .review-form-checkbox-label > .review-form-custom-checkbox {
    background-color: #404BBF;
    fill: #F4F4FD;
    border: none;
}

.review-form-checkbox:focus + .review-form-checkbox-label > .review-form-custom-checkbox {
    border-color: #404bbf;
}

.review-form-checkbox-label {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.review-policy-link {
    text-decoration: underline;
    color: #4d5ae5;
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-submit-btn {
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    background: #4d5ae5;
    color: white;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    border: none;
    margin-left: 95px;
    min-width: 169px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
    background-color: #404bbf;
}